<form action="/notes" method="POST">
    <label for="sem">Sem: </label>
    <input type="number" name="note[semester]" id="sem" class="form-control" placeholder="Enter Semester" required>
    <label for="subject">Sub: </label>
    <select name="note[subject]" class="form-select" id="subject"aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Strategic Communication for Sustainable Development">Strategic Communication for Sustainable Development</option>
    </select>
    <label for="topic">topic</label>
    <input type="text" name="note[topic]" id="topic" class="form-control" placeholder="Enter Topic" required>
    <label for="file">file URL</label>
    <input type="text" name="note[fileurl]" id="file" class="form-control" required>
    <button>submit</button>
</form>